@using System.Globalization
@{
    ViewData["Title"] = "UserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @*Idnetity dbcontex den users  verilerini almamızı sağlıyor *@
    var Users = await UserManager.GetUserAsync(User);
}


<div class="container">
    <div class="row">
        <div class="col-12 col-lg-3 border-0 ">
            <!-- Sidebar -->
            <div class="d-flex flex-column flex-shrink-0 p-3  profilesidebar">
                <img src="/images/@Users.ProfilPhoto" class="rounded float-left  card-img-top" alt="">
                <br />
                <a asp-area="" asp-controller="Account" asp-action="UserProfile" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto  text-decoration-none">
                   
                </a>
                <hr />
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Event" asp-action="EventCreate" class="nav-link text-dark" aria-current="page">
                            <i class="fas fa-calendar"></i>
                            Etkinlik Oluştur
                        </a>
                        <hr/>
                    </li>

                    <li class="nav-item">
                        <a asp-area="" asp-controller="Event" asp-action="EventView" class="nav-link text-dark ">
                            <i class="fas fa-calendar"></i>
                            Etkinliklerim
                        </a>
                        <hr/>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-dark">
                            <i class="far fa-user-alt"></i>
                            Katıldığım Etkinlikler
                        </a>
                        <hr />
                    </li>
                    <li>
                        <a asp-area="Identity" asp-page="/Account/Manage/Index" class="nav-link text-dark ">
                            <i class="far fa-user-alt"></i>
                            Profil Düzenleme
                        </a>
                        <hr/>
                    </li>

                </ul>
            </div>
            <!-- Sidebar -->
        </div>
        <div class="col-12 col-lg-9 mt-lg-5">
            <div class="profileEventList">
                <div class="my-3 p-3 ">
                    <div class="col-md-6">
                        <div class="profile-head">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><h6 class="border-bottom pb-2 mb-0">Bilgiler</h6></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><h6 class="border-bottom pb-2 mb-0">Hakkında</h6></a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <!-- item -->
                    <div class="d-flex text-muted pt-3">

                        <div class="col-md-8">
                            <div class="tab-content profile-tab" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>İsim</label>
                                        </div>
                                        <div class="col-md-6">
                                            @*Gelen verilerin baş Harfini büyük yapmamızı sağlıyor*@
                                            <p>@CultureInfo.CurrentCulture.TextInfo.ToTitleCase(@Users.Name) @CultureInfo.CurrentCulture.TextInfo.ToTitleCase(@Users.SurName)</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Email</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>@Users.Email</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Telefon</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>@Users.PhoneNumber</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Sehir</label>
                                        </div>
                                        <div class="col-md-6">
                                            @if (Users.City_Id == null)
                                            {
                                                <p> </p>

                                            }
                                            else
                                            {
                                                <p>@Users.Cities.Name</p>
                                            }

                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p>@Users.About</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- item -->
                </div>
            </div>
        </div>
   </div>
</div>

