@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">


    <!-- Icon -->
    <link data-n-head="ssr" rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <!-- Style -->
    <link href="style.css" rel="stylesheet" />
    
    <title>Ne Yapalım</title>

    
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 vh-100 mb-5 mb-md-0" id="imagesss" >           
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <div class="w-75">
                    <h3 class="mb-4 text-center">Ne yapalım</h3>
                    <h2 class="mb-5 text-center">Kayıt Ol</h2>
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="d-flex bg-light mb-3 rounded-3">
                            <div class="flex-shrink-1 px-3 align-self-center">
                                <i class="bi bi-person-fill fs-4"></i>
                            </div>
                            <div class="form-floating flex-grow-1">
                                <input asp-for="Input.Name" type="text" class="form-control bg-light border-0" id="name" placeholder="name">
                                <span asp-validation-for="Input.Name" class="text-danger"></span>
                                <label for="floatingInput">Adınız</label>
                            </div>
                        </div>
                        <div class="d-flex bg-light mb-3 rounded-3">
                            <div class="flex-shrink-1 px-3 align-self-center">
                                <i class="bi bi-person-fill fs-4"></i>
                            </div>
                            <div class="form-floating flex-grow-1">
                                <input asp-for="Input.SurName" type="text" class="form-control bg-light border-0" id="name" placeholder="surname">
                                <span asp-validation-for="Input.SurName" class="text-danger"></span>
                                <label for="floatingInput">Soyadınız</label>
                            </div>
                        </div>
                        <div class="d-flex bg-light mb-3 rounded-3">
                            <div class="flex-shrink-1 px-3 align-self-center">
                                <i class="bi bi-envelope fs-4"></i>
                            </div>
                            <div class="form-floating flex-grow-1">
                                <input asp-for="Input.Email" type="email" class="form-control bg-light border-0" id="email" placeholder="name@example.com">
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                                <label for="floatingInput">Mail Adresiniz</label>
                            </div>
                        </div>
                        <div class="d-flex bg-light mb-3 rounded-3">
                            <div class="flex-shrink-1 px-3 align-self-center">
                                <i class="bi bi-unlock fs-4"></i>
                            </div>
                            <div class="form-floating flex-grow-1">
                                <input asp-for="Input.Password" type="password" class="form-control bg-light border-0" id="password" placeholder="Password" minlength="8">
                                <span asp-validation-for="Input.Password" class="text-danger"></span>

                                <label for="floatingPassword">Şifreniz</label>
                            </div>
                        </div>
                        <div class="d-flex bg-light mb-3 rounded-3">
                            <div class="flex-shrink-1 px-3 align-self-center">
                                <i class="bi bi-unlock fs-4"></i>
                            </div>
                            <div class="form-floating flex-grow-1">
                                <input asp-for="Input.ConfirmPassword" type="password" class="form-control bg-light border-0" id="password" placeholder="Password" minlength="8">
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                <label for="floatingPassword">Şifre Tekrarlama</label>
                            </div>

                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="validationFormCheck1" required>
                            <label class="form-check-label" for="validationFormCheck1">
                                18 Yaşından büyüğüm.
                            </label>
                            <div class="invalid-feedback">Bu alan gereklidir</div>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="validationFormCheck2" required>
                            <label class="form-check-label" for="validationFormCheck2">
                                KVKK Aydınlatma metnini okudum,onaylıyorum.
                            </label>
                            <div class="invalid-feedback">Bu alan gereklidir</div>
                        </div>
                        <div class="clearfix mb-5"></div>
                        <input type="submit" class="btn btn-warning py-2 w-100 mb-5" value="Kayıt Ol">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
@*
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to register.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
